 /* You can add global styles to this file, and also import other style files */

 /* body {
     overflow-x: clip;
 }

 * {
     color: #ffffff !important;
 }

 .form-label {
     color: #297005!important;
 } */
